<div class="card w-96 max-w-[360px] shadow-xl bg-gradient-to-r from-slate-800 to-slate-700 h-full">
  <div class="card-body">
    <h2 class="card-title pb-1.5">{{ post.title }}</h2>
    <div *ngIf="post.comments.length > 0; else noComment"
         class="p-3 gap-5 h-full max-h-[200px] overflow-auto bg-gradient-to-r from-slate-400 to-slate-200 rounded-lg">
      <ul>
        <li class="alert mb-1" *ngFor="let comment of post.comments">
          <ng-container [ngSwitch]="comment.status">
            <span *ngSwitchCase="'approved'">{{ comment.content }}</span>
            <span *ngSwitchCase="'rejected'" class="badge badge-error italic">Comment rejected</span>
            <span *ngSwitchDefault class="badge badge-warning italic">Moderation pending...</span>
          </ng-container>
        </li>
      </ul>
    </div>
    <small class="cursor-pointer text-end" (click)="reload()">Reload</small>


    <div class="divider"></div>

    <div>
      <h2 class="pb-1">New comment</h2>
      <form class="flex flex-row gap-2" (ngSubmit)="createComment(post.id)">
        <input [formControl]="comment" type="text" class="input input-bordered max-w-xs">
        <button
          class="btn btn-primary"
        >
          Send
        </button>
      </form>
    </div>

    <div class="card-actions justify-end">
    </div>
  </div>
</div>

<ng-template #noComment>
  <small class="w-full h-full max-h-[170px] text-center">No comments</small>
</ng-template>
