<main class="p-10 w-full">
    <h2 class="text-3xl pb-4 font-bold">Create New Post</h2>

    <div class="flex flex-row gap-4 w-full">
        <form (ngSubmit)="createPost(newPost.value)">
            <input [formControl]="newPost" type="text" class="input input-bordered w-full max-w-xs">
        </form>
        <button
                type="submit"
                class="btn btn-primary"
                (click)="createPost(newPost.value)"
        >
            Create
        </button>
    </div>

    <div class="divider"></div>

    <div class="flex flex-row gap-8">
        <ng-container *ngFor="let post of (posts$ | async)! | keyvalue; let c = count">
            <app-post-card [post]="post.value"></app-post-card>
        </ng-container>
    </div>
</main>
